In [1]:
import pandas as pd

In [4]:
data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/robotfailure-mld/lp1.data",header=None)

In [5]:
data

                              0
0                        normal
1       \t-1\t-1\t63\t-3\t-1\t0
2         \t0\t0\t62\t-3\t-1\t0
3        \t-1\t-1\t61\t-3\t0\t0
4       \t-1\t-1\t63\t-2\t-1\t0
...                         ...
1403  \t-10\t2\t39\t-21\t-24\t5
1404  \t-11\t2\t38\t-24\t-22\t6
1405  \t-12\t3\t23\t-24\t-24\t5
1406  \t-13\t4\t26\t-29\t-27\t5
1407  \t-13\t2\t15\t-25\t-25\t6

[1408 rows x 1 columns]