In [1]:
import pandas as pd

In [12]:
data=pd.read_csv("DataSet/diagnosis.data",encoding="ISO-8859-1",header=None)
data

       0   1
0    ÿþ3 NaN
1    NaN NaN
2    NaN NaN
3    NaN NaN
4    NaN NaN
..   ...  ..
236  NaN NaN
237  NaN NaN
238  NaN NaN
239  NaN NaN
240  NaN NaN

[241 rows x 2 columns]