In [1]:
import numpy as np
import pandas as pd

In [2]:
import pandas_profiling

In [3]:
import seaborn as sns
import scipy

In [4]:
ca=pd.read_csv("https://raw.githubusercontent.com/reddyprasade/Data-Sets-For-Machine-Learnig-and-Data-Science/master/DataSets/california_cities.csv")
ca

,Unnamed: 0,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,477,Yountville,38.403056,-122.362222,30.0,98.0,2933,1.531,1.531,0.000,3.966,3.966,0.000,0.00
478,478,Yreka,41.726667,-122.637500,787.0,2582.0,7765,10.053,9.980,0.073,26.036,25.847,0.188,0.72
479,479,YubaCity,39.134722,-121.626111,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
480,480,Yucaipa,34.030278,-117.048611,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.231,0.013,0.02
481,481,YuccaValley,34.133333,-116.416667,1027.0,3369.0,20700,40.015,40.015,0.000,103.639,103.639,0.000,0.00

In [66]:
ca.isna().sum()

Unnamed: 0            0
city                  0
latd                  0
longd                 0
elevation_m           0
elevation_ft          0
population_total      0
area_total_sq_mi      0
area_land_sq_mi       0
area_water_sq_mi      0
area_total_km2        0
area_land_km2         0
area_water_km2        0
area_water_percent    0
dtype: int64

In [67]:
ca.drop('Unnamed: 0',axis=1,inplace=True)

In [68]:
ca["elevation_m"].describe()

count     482.000000
mean      180.416705
std       293.681587
min       -34.000000
25%        26.000000
50%        85.500000
75%       180.416705
max      2402.000000
Name: elevation_m, dtype: float64

In [69]:
a=ca["elevation_m"].mean()
a

180.41670506912442

In [70]:
ca.fillna({"elevation_m":a},inplace=True)

In [71]:
ca

,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,Adelanto,34.576111,-117.432778,875.000000,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,AgouraHills,34.153333,-118.761667,281.000000,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,Alameda,37.756111,-122.274444,180.416705,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,Albany,37.886944,-122.297778,180.416705,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,Alhambra,34.081944,-118.135000,150.000000,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,Yountville,38.403056,-122.362222,30.000000,98.0,2933,1.531,1.531,0.000,3.966,3.966,0.000,0.00
478,Yreka,41.726667,-122.637500,787.000000,2582.0,7765,10.053,9.980,0.073,26.036,25.847,0.188,0.72
479,YubaCity,39.134722,-121.626111,18.000000,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
480,Yucaipa,34.030278,-117.048611,798.000000,2618.0,51367,27.893,27.888,0.005,72.244,72.231,0.013,0.02
481,YuccaValley,34.133333,-116.416667,1027.000000,3369.0,20700,40.015,40.015,0.000,103.639,103.639,0.000,0.00

In [72]:
ca["elevation_m"].isna().sum()

0

In [73]:
ca["elevation_ft"].isna().sum()

0

In [74]:
b=ca["elevation_ft"].mean()

In [75]:
ca["elevation_ft"].fillna(method='bfill',inplace=True)

In [76]:
ca["elevation_ft"].isna().sum()

0

In [77]:
ca["area_total_sq_mi"].fillna(method='ffill',inplace=True)

In [78]:
ca["area_total_sq_mi"].isna().sum()

0

In [79]:
ca["area_water_sq_mi"].fillna(0,inplace=True)

In [80]:
ca["area_water_sq_mi"].isna().sum()

0

In [81]:
ca[["area_total_km2","area_total_km2","area_land_km2","area_water_km2","area_water_percent"]].fillna(method='ffill',inplace=True)

c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [82]:
ca[["area_total_km2","area_total_km2","area_land_km2","area_water_km2","area_water_percent"]].isna().sum()

area_total_km2        0
area_total_km2        0
area_land_km2         0
area_water_km2        0
area_water_percent    0
dtype: int64

In [83]:
ca["area_total_km2"].fillna(method='ffill',inplace=True)

In [84]:
ca["area_total_km2"].isna().sum()

0

In [85]:
ca["area_land_km2"].fillna(method='ffill',inplace=True)

In [86]:
ca["area_land_km2"].isna().sum()

0

In [87]:
ca["area_water_km2"].fillna(method='ffill',inplace=True)

In [88]:
ca["area_water_percent"].fillna(method='ffill',inplace=True)

In [89]:
ca[["area_water_km2","area_water_percent"]].isna().sum()

area_water_km2        0
area_water_percent    0
dtype: int64

In [90]:
ca.isna().sum()

city                  0
latd                  0
longd                 0
elevation_m           0
elevation_ft          0
population_total      0
area_total_sq_mi      0
area_land_sq_mi       0
area_water_sq_mi      0
area_total_km2        0
area_land_km2         0
area_water_km2        0
area_water_percent    0
dtype: int64

In [92]:
ca.to_csv("california.csv")

In [93]:
ca.isna().sum()

city                  0
latd                  0
longd                 0
elevation_m           0
elevation_ft          0
population_total      0
area_total_sq_mi      0
area_land_sq_mi       0
area_water_sq_mi      0
area_total_km2        0
area_land_km2         0
area_water_km2        0
area_water_percent    0
dtype: int64